@model TaxesPayments.Models.Taxes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Taxes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="time" class="control-label"></label>
                <input asp-for="time" class="form-control" />
                <span asp-validation-for="time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="point" class="control-label"></label>
                <input asp-for="point" class="form-control" />
                <span asp-validation-for="point" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="skey" class="control-label"></label>
                <input asp-for="skey" class="form-control" />
                <span asp-validation-for="skey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="service" class="control-label"></label>
                <input asp-for="service" class="form-control" />
                <span asp-validation-for="service" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account" class="control-label"></label>
                <input asp-for="account" class="form-control" />
                <span asp-validation-for="account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="persacc" class="control-label"></label>
                <input asp-for="persacc" class="form-control" />
                <span asp-validation-for="persacc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="akey" class="control-label"></label>
                <input asp-for="akey" class="form-control" />
                <span asp-validation-for="akey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="err" class="control-label"></label>
                <input asp-for="err" class="form-control" />
                <span asp-validation-for="err" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="msg" class="control-label"></label>
                <input asp-for="msg" class="form-control" />
                <span asp-validation-for="msg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="add" class="control-label"></label>
                <input asp-for="add" class="form-control" />
                <span asp-validation-for="add" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
