@model TaxesPayments.Models.Taxes

@{
    ViewData["Title"] = "Pay";
}

<div id="partyialViewPages">    
    <!-- header -->
    <div class="header__div">

        <div class="header__div-item">
            <h1>
                <strong class="header__div-item-label">Налог на транспортные средства физических лиц</strong>
            </h1>
        </div>        
    </div>
    <!-- header end-->
    <!-- main -->    
    <div class="main">
        <div class="main__div">
            <h5>@ViewBag.Message</h5>
            <!-- main__div end -->
        </div>
    </div>
    <!-- main end-->
</div>
